<div class="head" align="center" style="padding-left: 90px;">
        <mat-toolbar color="accent">
            <span><a class="navbar-brand" href="#"><i class="fa fa-book" aria-hidden="true"></i> Bookies</a></span>
            <span class="nav-item"><a routerLink='/bookslist' class="white nav-link">Books </a></span>
            <span class="nav-item"><a routerLink='/favlist' class="white nav-link">Liked Books </a></span>
            <span class="nav-item"><a routerLink='/readlater' class="white nav-link">Read Later Books </a></span>
            <span class="nav-item"><a routerLink='/create' class="white nav-link">Add Books </a></span>
            <span class="nav-item" *ngIf='!us.isLoggedIn()'><a routerLink='/login' class="white nav-link">Login</a></span>
            <span class="nav-item" *ngIf='!us.isLoggedIn()'><a routerLink='/register' class="white nav-link">Register</a></span>
            <span class="nav-item" *ngIf='us.isLoggedIn()'><a routerLink='/logout' (click)="us.logout()" class="white nav-link">Logout</a></span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
            
    </mat-toolbar>
</div>