<div style="padding-top: 20px; padding-left: 120px;">
    <div>
    <h1>ReadLater Books</h1>
    <div>
        <div><img src="/assets/images/{{favouritelist.title}}.jpg" id="img"></div>
        <p> </p>
        <p>{{favouritelist.title}}</p>
        <p>{{favouritelist.author}}</p>
        <p>{{favouritelist.year}}</p>
    </div>
</div>