<div style="padding-top: 20px; padding-left: 5px;">
    <div style="color: rgb(6, 6, 32); font-weight: 900;">
        <div><img src="/assets/images/{{blog.title}}.jpg" id="imgedit"></div>
        <p> </p>
        <p>Title : {{blog.title}}
        <p>
        <p>Author : {{blog.author}}
        <p>
        <p>Year : {{blog.year}}
        <p>
        <p> </p>
    </div>
</div>