<div class='container' style="padding-top: 20px; padding-left: 85px;">
    <h1 class='h1'>Books Available</h1>
        <div *ngIf='books.length > 0'>
            <div *ngFor='let blog of books'>
                <app-booksdisplay [blog]='blog'></app-booksdisplay>
                <div style="padding-left: 5px;">
                    <button mat-fab color="warn"(click)="delete(blog)">Delete</button><span style="margin-left: 10px;"></span>
                    <button mat-fab color="primary" (click)="edit(blog)"> Edit</button><span style="margin-left: 10px;"></span>
                    <button mat-fab color="accent" (click)="addLiked(blog)">Add liked</button><span style="margin-left: 10px;"></span>
                    <button mat-fab color="primary" (click)="readLater(blog)"> Read Later</button>
                </div>
            </div>
        </div>
</div>

